<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist>
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ulua-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{549,86}}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{549,86}}</string>
                <key>sourceSize</key>
                <string>{549,86}</string>
            </dict>
            <key>ulua.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,86},{804,53}}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{804,53}}</string>
                <key>sourceSize</key>
                <string>{804,53}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{804,139}</string>
            <key>textureFileName</key>
            <string>spritemap.png</string>
        </dict>
    </dict>
</plist>
